body{
	font-family: HelveticaNeue, Arial, sans-serif; font-size: 15px; color: #4b5057; line-height: 1.33;
}
#title{
	padding-right: 100px; border-right: 1px solid #C7CDD4;
}
.p-3-top{
	padding-top: 3px
}
.p-7-bottom{
	padding-bottom: 7px
}
.p-8-bottom{
	padding-bottom: 8px
}
.bold{
	font-weight: bold
}
.subtitle{
	font-size: 9px; color: #8E99A8;font-family: HelveticaNeue-Light, Arial, sans-serif; 
}
.p-10-top{
	padding-top: 10px; 
}
.p-5-bottom{
	padding-bottom: 5px;
}
.p-5-top{
	padding-top: 5px;
}
.p-25-left{
	padding-left: 25px;
}
#bg{
	background-image: url('img/10-x-u-blue@3x.png');
	height: 38px;
	width: 71px;
	background-size: 100% 100%;
	display: block;
}
#fb{
	background-image: url('img/fb.png');
	height: 25px;
	width: 25px;
	background-size: 100% 100%;
	display: block;
}
#tw{
	background-image: url('img/twitter.png');
	height: 25px;
	width: 25px;
	background-size: 100% 100%;
	display: block;
}
#ig{
	background-image: url('img/instagram.png');
	height: 25px;
	width: 25px;
	background-size: 100% 100%;
	display: block;
}
#lk{
	background-image: url('img/linkedin.png');
	height: 25px;
	width: 25px;
	background-size: 100% 100%;
	display: block;
}