body{
	font-family: HelveticaNeue, Arial, sans-serif; font-size: 15px; color: #4b5057; line-height: 1.33;
}
#title{
	padding-right: 100px; border-right: 1px solid #C7CDD4;
}
.p-3-top{
	padding-top: 3px
}
.p-7-bottom{
	padding-bottom: 7px
}
.bold{
	font-weight: bold
}
.subtitle{
	font-size: 9px; color: #8E99A8;
}
.p-10-top{
	padding-top: 10px; 
}
.p-5-bottom{
	padding-bottom: 5px;
}
.p-5-top{
	padding-top: 5px;
}
.p-25-left{
	padding-left: 25px;
}